body{
    background-color: #000000;
}
header{
    float: left;
    width: 98%;
    background-color: #000000;
    color: white;
    padding-top: 10px;
    padding-left: 20px;

}
h1{
    width: 35%;
    float: left;
}
nav{
    float: right;
    padding-top: 40px;
}
nav a{
    padding-right: 40px;
    text-decoration: none;
    color: white;
}
footer{
    padding-top: 5px;
    float: left;
    background-color: white;
    width: 100%;
    align-content: left;
}
.boards{
    text-align: center;
    width: 1em;
}
.description{
  color: white;
  text-align: center;
}
#image7{
    float: left;
    padding-left: .8em;
    padding-right: 1em;
}
#address{
    padding-left: 2em;
    padding-top: 1.8em;
    width: 45%;
    margin-right: 0px;

}
#social{
    float: right;
    width: 30%;
}