body{
    background-color: #000000;
}
header{
    float: left;
    width: 98%;
    background-color: #000000;
    color: white;
    padding-top: 10px;
    padding-left: 20px;

}
h1{
    width: 35%;
    float: left;
}
nav{
    float: right;
    padding-top: 40px;
}
nav a{
    padding-right: 40px;
    text-decoration: none;
    color: white;
}
#image10{
    float: left;
    width: 33%;
}
#image9{
    float: left;
    width: 33%;
}
#image11{
    float: left;
}
#image2{
    float: left;
    margin-bottom: 7px;
    margin-top: 7px;
    width: 100%;
}
#image3{
    float: left;
}
#image14{
    float: left;
    width: 50%;
}
#image15{
    float: left;
    width: 50%;
}